@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-main: #3d9970;
  --breakpoint-xs: 530px;
}
body {
  font-family: "Geist", sans-serif;
}

* {
  scroll-behavior: smooth;
}
